.gameContainer{
   padding: 5px;
	margin: 0 auto;
	width: 96%;
	height: 410px;
	border: 1px solid #000;
	border-radius: 5px;
    box-shadow: 0px 5px 5px 0px;
}

#inicio{
	margin: 0 auto;
	background-color: #94FFAD;
	width: 89%;
	height: 410px;
	border-radius: 5px;
   box-shadow: 3px 3px 5px 5px #45614B;
	position: absolute;
	z-index: 1;
}

#inicio p{
	font-weight: bold;
	font-size: 1.2em;
	padding: 15px 0;
	margin: 50px auto;
	width: 50%;
   border-radius: 5px;
	color: #fff;
   background-color: #F89600;

}

#inicio p:hover{
	color: #F89600;
    background-color: #fff;
    border: 2px solid #F89600;
}

#inicio legend{
   color: #D89136;
   margin-top: 60px;
   font-weight: bold;
   font-size: 1.2em;
}
#inicio select{
   border: 2px solid #F89600;
   padding: 15px 25px;
   border-radius: 5px;
   font-weight: bold;
   font-size: 1em;
   margin-top: 10px;
   color: #F89600;
}

#inicio select option{
   font-size: 1.2em;
   font-weight: bold;
}
#quiz{
    width: 99%;
    height: 410px;
    display: grid;
    grid-template-areas: 
      'imagem pergunta'
      'opcoes opcoes'
      'timer progresso'    
    ;
}

#pergunta{
   color: #fff;
   background-image: linear-gradient(#2B783C, #055F05, #338E47);
   padding-top: 10px;
   font-size: 1.3em;
   font-weight: bold;
   border-radius: 5px;
   border: 3px solid green;
   width: 100%;
   height: 60px;
   grid-area: pergunta;
}

#pergImg{
   width: 90px;
   height: 90px;
   grid-area: imagem;
}

#opcoes{
    width: 99%;
    height: 130px;
    grid-area: opcoes;
}

.opcao{
   
   color: #fff;
   font-size: 1.1em;
   font-weight: bold;
   padding-top: 12px;
   padding-bottom: 5px;
   margin: 4px auto;
   border: 2px solid rgb(255, 136, 0);
   background-color: rgb(253, 116, 4);
   width: 68%;
    height: 35px;
    border-radius: 5px;
}
.opcao:hover{
   cursor: pointer;
}

#timer{
   width: 100px;
    height: 100px;
    grid-area: timer;
}

#contador{
   color: #fff;
   margin: 20px auto 5px auto;
   font-size: 1.5em;
   font-weight: bold;
   border: 2px solid darkgray;
   border-radius: 5px;
   padding-top:15px;
   width: 50px;
    height: 35px;
    background-color: #003E6E;
}

#btimeGauge{
   background-color: lightgray;
   border-radius: 5px;
   width: 100px;
   height: 10px;
}

#timeGauge{
   background-image: linear-gradient(90deg, #59DB39, #FF0A06);
   border-radius: 5px;
   width: 100px;
   height: 10px;
   margin-top: -10px;
}

#progresso{
   width: 100%;
   height: 35px;
   grid-area: progresso;
   margin-top: 30px;
}

.prog{
   background-color: #ECFBE8;
    width : 15px;
    height : 15px;
    border: 1px solid #9DD1E2;
    display: inline-block;
    border-radius: 50%;
    margin-left : 2px;
    margin-right : 2px;
}

#containerPontos{
   background-color: rgba(210, 255, 250, 0.9);
   margin: 0 auto;
   border-radius: 5px;
   width: 89.3%;
   height: 410px;
   position: absolute;
   box-shadow: 0px 5px 15px 0px;
   z-index: 1;
}

#containerPontos img{
   width: 230px;
   margin: 0 0 50px 0;
}

#containerPontos p{
   font-size: 2.5em;
   font-weight: bold;
   margin-bottom: 20px;
}


#btnReinicia{
   margin-top: 8px;
   background-color: #fff;
   color: darkorange;
   border-radius: 5px;
   border: 2px solid darkorange;
   width: 90px;
   height: 35px;
}

#btnReinicia:hover, #btnOutros:hover{
   background-color: darkorange;
   color: #fff;
}

/******** Media queries ***********/

@media (min-width: 576px) {
   .gameContainer{
      width: 75%;
   }
   #inicio{
      width: 70%;
   }
   #containerPontos{
      width: 70%;
   }
}

@media (min-width: 768px) {
   .gameContainer{
      width: 55%;
   }
   #inicio{
      width: 51%;
   }
   #containerPontos{
      width: 51.5%;
   }
}

@media (min-width: 992px) {
   .gameContainer{
      width: 50%;
   }
   #inicio{
      width: 46.5%;
   }
   #containerPontos{
      width: 46.6%;
   }
}