.gameContainer{
	margin: 0 auto;
	width: 94%;
	height: 410px;
	border: 1px solid #000;
	border-radius: 5px;
    box-shadow: 0px 5px 10px 0px;
    
}

#start{
	margin: 0 auto;
	background-color: rgba(255, 250, 200, 0.7);
	width: 87%;
	height: 410px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
}

#start p{
	font-weight: bold;
	font-size: 1.2em;
	padding: 15px 0;
	margin: 100px auto;
	width: 50%;
	border: 3px solid #F89600;
	color: #F89600;

}

#start p:hover{
	color: #fff;
    background-color: #F89600;
}

#quiz{
    width: 99,5%;
    border: 3px solid blue;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: (10% 90%);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
      'imagem pergunta'
      'timer opcoes'
      'progresso progresso'
    ;
    
}

#pergunta{
    border: 3px solid green;
    width: 99%;
    height: 100px; 
    grid-area: pergunta;
}

#pergImg{
    border: 3px solid orange;
    width: 90px;
    height: 100px;
    grid-area: imagem;
}

#opcoes{
    border: 3px solid gray;
    width: 99%;
    height: 150px;
    grid-area: opcoes;
}

.opcao{
    margin: 3px auto;
   border: 3px solid cyan;
   width: 95%;
    height: 40px;
}

#timer{
   border: 3px solid yellow;
   width: 160px;
    height: 150px;
    grid-area: timer;
}

#contador{
   border: 3px solid magenta;
   width: 150px;
    height:80px;
}

#btimeGauge{
   border: 3px solid darksalmon;
   width: 150px;
    height: 12px;
}

#timeGauge{
   border: 3px solid brown;
   width: 50px;
    height: 12px;
}

#progresso{
   border: 3px solid darkseagreen;
   width: 99%;
    height: 40px;
    grid-area: progresso;
}

#containerPontos{
   border: 3px solid darkcyan;
   width: 50px;
    height: 50px;
}

#btnReinicia, .btnOutros{
    margin: 5px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: #F89600;
    color: #fff;
    width: 120px;
    height: 30px;
}
.btnOutros:hover, #btnReinicia:hover{
    background-color: #fff;
    color: #F89600;
    border: 2px solid #F89600;
}