main{
	margin-bottom: 50px;
}
.formulario{
    margin: 15px auto;
    max-width: 576px;
	padding: 30px;
	border: 1px solid #ccc;
	box-shadow: 1px 3px 5px 2px #8E8E8E;
}

.formulario p{
	width: 100%;
	font-size: 1.2em;
	margin-bottom: 30px;
}

.field{
	width: 100%;
	margin: 15px 0;
}

.field label,
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}

.radiobox label{
	width: auto;
	display: inline-block;
}

input[type=text],
input[type=email],
textarea{
	width: 100%;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	border-radius: 10px;
	border: 2px solid #ccc;
	outline: none;
}

input#nao{
	margin-left: 30px;
}

textarea{
	line-height: 20px;
	padding-left: 10px;
	height: 90px;
	resize: none;
}

input[type=submit]{
	display: block;
	color: #fff;
	background-color: #F89600;
	height: 35px;
	border: none;
	outline: 0;
	cursor: pointer;
	width: 100px;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
}

input[type=submit]:hover{
	border: 1px solid #F89600;
	color: #F89600;
	background-color: #fff;
}

#botao-whatsapp{
	margin-top: 40px;
}

#botao-whatsapp p{
    margin-bottom: 10px;
    font-size: 1.1em;
}