/** Media queries e configurações do container 
 ** para as demais paginas
 **
 ** Autor:  Ely Carvalho da Silva;
 **
 **/ 
.container{
	padding: 0 5px;
	background-color: #fff;
	width: 95%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
	"header header header"
	"anuncio anuncio anuncio"
	"titulo titulo titulo"
	"main main main"
	"rodape rodape rodape";
}


/****** media queries ****/
@media (max-width: 768px) {
	.container{
		grid-template-rows: repeat(5, auto);
		grid-template-areas: 
		"header header header"
	    "anuncio anuncio anuncio"
	    "titulo titulo titulo"
	    "main main main"
	    "rodape rodape rodape";
	}
    .menu-hamburguer .icon {
    	display: block;
    }
    nav {
    	display: none;
    }
}

@media (min-width: 768px) {
	.menu-hamburguer #conteudo-dropdown{
	display: none;
    }
}