*{
	margin: 0;
	padding: 0;
}

body{
	font-family:  arial, Helvetica, sans-serif;
	background-color: #8D8E8D;
}

header{
	grid-area: header;
	background-color: #80C47C;
	padding: 5px;
}

.logo{
	background-image: url(../img/prof_gleice6.png);
	width: 140px;
	height: 115px;
}
/**** menu ****/
nav{

	position: relative;
	top: -100px;
	right: 0;
}

nav ul{
    display: inline;

}
nav li{
    float: right;
    list-style: none;
    margin-top: 3px;
}

nav li a{
	color: #fff;
	text-decoration: none;
	background-color: #F89600;
	padding: 15px 8px;
	border-right: 1px solid #D3A66D;
	border-radius: 4px;
}

nav li a:hover{
	background-color: #fff;
	color: #F89600;
	border: 1px solid #F89600;
}
/****** configurações menu hamburguer ******/
.menu-hamburguer #conteudo-dropdown{
	width: 180px;
	display: none;
	background-color: #F89600;
	color: #fff;
	border-radius: 5px;
	position: absolute;
	top: 5px;
	right: 85px;
}
#conteudo-dropdown a{
	text-decoration: none;
    color: #fff;
    padding: 13px 8px;
    text-align: center;
    display: block;
    border-radius: 5px;
    border-bottom: 1px solid #B55E05;
}
.menu-hamburguer .icon {
	font-size: 1.2em;
	padding: 5px 15px;
	border-radius: 5px;
	display: none;
	position: absolute;
	top: 5px;
	right: 35px;
	text-decoration: none;
	background-color: #F89600;
	color: #fff;	
}
/*****************************/
main{
	border-top: 1px solid #b6b6b6;
	margin-top: 10px;
	width: 98%;
	grid-area: main;
	text-align: center;
}

hr{
    margin: 20px auto;
}

main img{
	width: 65%;
	margin: 20px 0;
}
.anuncio{
    text-align: center;
	height: 60px;
	border-radius: 10px;
	margin-top: 10px;
	grid-area: anuncio;
	background-color: #dedede;
}

.titulo-paginas{
	margin: 20px 0;
	text-align: center;
    grid-area: titulo;
}

aside{
	margin: 0 auto 150px auto;
	grid-area: lateral;
	border-radius: 10px;
}

.dicas, #cards-jogos{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.dica-port h3{
    background-color: #157A23;
    color: #F5FF5E;
    border-radius: 10px 10px 0 0;
	text-align: center;
	padding: 8px;
}

.dica-ingles h3, .card-jogo h3{
    background-color: #17338C;
    color: #fff;
    border-radius: 10px 10px 0 0;
	text-align: center;
	padding: 9px;
}

.dica-port, .dica-ingles, .card-jogo{
	margin-top: 10px;
	width: 350px;
	background-color: #CCFFD6;
	text-align: left;
    border-radius: 10px;
    padding: 0 2px 10px 2px;
}

.dica-port h4, .dica-ingles h4{
	padding: 10px 0;
	text-align: center;
}

.dica-port p, .dica-ingles p{
	padding: 10px 15px;
}

.btn-mais{
	margin-bottom: 20px;
	text-decoration: none;
	border-radius: 5px;
	background-color: #F89600;
	color: #fff;
	padding: 4px;
}

aside .btn-mais{
	margin-left: 35%;
}

.btn-mais:hover{
	background-color: #fff;
	color: #F89600;
	border: 1px solid #F89600;
}

footer{
	padding: 7px;
	font-weight: 550;
	text-align: center;
	margin-top: 50px;
	color: #fff;
	background-color: #F89600;
	grid-area: rodape;
}

.card-jogo img{
	margin-left: 15%;
	cursor: pointer;
}
/****** media queries estão no arquivo media-queries.css 
 e media-queries2.css ****/