/*Media queries para a pagina inicial
**
** Autor:  Ely Carvalho da Silva;
**
*/
.container{
	padding: 0 5px;
	background-color: #fff;
	width: 95%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(4, auto);
	grid-template-areas: 
	"header header header"
	"main main anuncio"
	"main main lateral"
	"rodape rodape rodape";
}

@media (max-width: 768px) {
	.container{
		grid-template-rows: repeat(5, auto);
		grid-template-areas: 
		"header header header"
	    "anuncio anuncio anuncio"
	    "main main main"
	    "lateral lateral lateral"
	    "rodape rodape rodape";
	}
	main img{
		width: 100%;
	}
	.menu-hamburguer .icon {
    	display: block;
    }
    nav {
    	display: none;
    }
}

@media (min-width: 768px) {
	.menu-hamburguer #conteudo-dropdown{
	display: none;
    }
}


@media (min-width: 992px) {
	aside{
		margin-bottom: 450px;
	}
}


