
.container{
	padding: 0 5px;
	background-color: #fff;
	width: 95%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(4, auto);
	grid-template-areas: 
	"header header header"
	"anuncio anuncio anuncio"
	"main main main"
	"rodape rodape rodape";
}


/****** media queries ****/
@media (max-width: 576px) {
	.container{
		grid-template-rows: repeat(5, auto);
		grid-template-areas: 
		"header header header"
	    "anuncio anuncio anuncio"
	    "main main main"
	    "main main main"
	    "rodape rodape rodape";
	}
}

/********** troca de menu ******/
@media (max-width: 768px) {
	nav{display: none;}
    .dropdown-menu{
    	display: inline-block;
    	position: relative;
    	bottom: 100px;
    	float: right;
    }
	.dropbtn{
		border-radius: 5px;
		background-color: #F89600;
		font-size: 1.2em;
		font-weight: bold;
		padding: 3px 10px;
	}
	.conteudo-dropdown{
		display: none;
		position: absolute;
		right: 5px;
		background-color: #F89600;
		color: #fff;
		min-width: 180px;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		border-radius: 20px;
		z-index: 1;
	}
	.conteudo-dropdown a{
		color: #fff;
		padding: 18px 16px;
		text-decoration: none;
		border-bottom: 1px solid #563400;
		border-radius: 20px;
		display: block;
	}

	.conteudo-dropdown a:hover{
		background-color: #fff;
		color: #F89600;
		border: 1px solid #563400;
		font-weight: 600;
	}
    .dropdown-menu:hover .conteudo-dropdown{
        display: block;   
    }
    .dropdown-menu:hover .dropbtn{
    	background-color: lightgray;
    }
   }
}